* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  cursor: url(assets/favicon.svg), auto;
  scroll-behavior: smooth;
  background-color: #222831;
}

/* body {
  
} */

.container {
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

#logo {
  margin: 30px 0px;
  max-height: 70px;
  max-width: 120px;
  width: 70px;
  height: 70px;
}

#menu {
  cursor: pointer;
}

nav {
  flex: 2;
  text-align: center;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  float: right;
}

nav ul li a:hover {
  color: #00adb5;
}

.nav-about {
  font-size: 18px;
  font-weight: 500px;
  color: #eeeeee;
  font-family: "Nixie One", cursive;
}

#hello {
  color: #eeeeee;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 400;
  font-family: "Nixie One", cursive;
}

#name {
  color: #00adb5;
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-weight: 500;
  font-family: "Jura", sans-serif;
}

#line {
  border-top: 2px solid #393e46;
  margin: 0px 300px;
}

#about {
  color: #eeeeee;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 400;
  font-family: "Nixie One", cursive;
}

/* PARTICLES */
#particles-js {
  position: absolute;
  height: 95vh;
  width: 100%;
  padding: 0%;
  margin: 0%;
}

/* SCROLL DOWN */
#arrow {
  width: 40px;
  position: absolute;
  cursor: pointer;
  animation: arrow 1.5s ease-in-out infinite;
}
@keyframes arrow {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#sec-2 {
  position: absolute;
}

h1 {
  color: #eeeeee;
  size: 100px;
}

/* HIDE FROM MOBILE VIEW */
/* @media screen and (max-width: 600px) {
  .webcam {
    display: none;
  }
} */
